
/* footer begin */
.footerWrapper{
    background-color: #2B2D42;
    color: #fff;
    height: auto;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
}

.footerCopyrightSection{
    padding-top: 2%;
    opacity : 50%;
}
/* .footerLinkItem :hover{
    transition: 0.5s;
    text-decoration:underline #EF233C;
} */


@media only screen and (max-width: 600px){
  .footerImageSection{
    margin-left: 115px;
  }
  .footerLinkItem{
    margin-top: 5px;
  }
}