@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* Header Begin */
.headerWrapper{
  height: 100vh;
  
}
.headerWrapperTextBox{
  width: 100%;
  height: auto;
  background-color: black;
}
.homeWrapper{
  height: auto;
  padding: 5% 0 15% 0;
}

.homeMyText{
  padding: 18% 15% 10% 20%;
}

.homeMyTextBody{
  font-size: 15px;
  color: #647086;
  /* color: gray; */
}
.homeMyImage{
  border-radius: 3%;
}
.homeMyTextHeading{
  font-size: 32px;
  color : #171a3c;
}
.HomeNameFont{
  font-family: 'Caveat', cursive;
  font-size: 45px!important;
}

/* footer begin */
.footerWrapper{
    background-color: #2B2D42;
    color: #fff;
    height: auto;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 1%;
}

.footerCopyrightSection{
    padding-top: 2%;
    opacity : 50%;
}
/* .footerLinkItem :hover{
    transition: 0.5s;
    text-decoration:underline #EF233C;
} */





.btn {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    position:relative;
    overflow:hidden;
    margin: 0 20px;
    padding-bottom: .5%;
  }
  
  .btn:before {
    content: "";
    position: absolute;
    width: 0;
    background : #EE1B34;
    left: 45%;
    height: 2px;
    bottom: 0;
    transition: all .3s;
    opacity: 1;
  }
  
  .btn:hover:before {
    width: 100%;
    left:0;
  }
  